{{page-title "TestApp"}}

<nav>
  <LinkTo @route="home">Home</LinkTo>
  <LinkTo @route="about">About</LinkTo>
  <LinkTo @route="contact">contact</LinkTo>
</nav>

{{outlet}}

{{! The following component displays Ember's default welcome message. }}

{{! Feel free to remove this! }}